#profile配下のファイルは除外する
#実行時に生成されるファイルなので、git管理する必要はない
profile/
# ログイン情報は除外する
# 個人情報のため、git管理から除外する
login_info.json

#username_list.txtは除外する
#ブロック対象はユーザーによって変わるため、git管理から除外する
#なお実行時に自動的に作成される
#内容は @username の username のみを改行区切りで記載する
username_list.txt

# result.csvは除外する
# これは実行結果を出力するファイルなので、git管理する必要はない
result.csv